{% extends 'base.html' %}
{% block content %}
<style>
    .description_separator {
        padding: 8px;
        font-weight: 400;
        text-align: left;
        background: #343a40;
        color: #fff;
    }

    label {
        display: inline-block;
        width: 350px;
        text-align: left;
      }

</style>

<h3 style="color:green; text-align:center;">{{ msg }}</h3>

<section class="content">
    <div aria-labelledby="add-tab" class="tab-pane fade show active" id="update_product" role="tabpanel">
        <form id="product_form" method="post" enctype="multipart/form-data" action="{% url 'insect:show_info_insect' information.id %}">
            {% csrf_token %}
            <div class="card-body">
                <h4 class="description_separator">View Insect Details</h4><br>
<!--                <div class="form-group">-->
<!--                    <label for="supplier_id">Supplier ID</label>-->
<!--                    &lt;!&ndash; TODO: revert back to username here &ndash;&gt;-->
<!--                    <input class="form-control" id="supplier_id" name="supplier_id" placeholder="Enter Supplier ID"-->
<!--                           readonly type="text" value="{{request.session.username}}">-->
<!--                </div>-->
            <div class="form-group">
                <p><label for="insect_name">Insect Name: </label>{{information.insect_name}}</p>
            </div>
            <div class="form-group">
              <p><label for="status">Status </label>{{information.status}}</p>
            </div>
            <div class="form-group">
                <p><label for="created_by">Created By</label>{{information.created_by}}</p>
            </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="text-align:center;">
                <button class="btn btn-primary" type="button" value="back" name = "Back" onclick="history.back()" style="background-color:#343a40;border-color:#343a40;"  >Back</button>
            </div>
        </form>
    </div>
</section>
<script>
$(document).ready(function () {
bsCustomFileInput.init();
});
</script>
<script>
function showField(){
  var checkBox = document.getElementById("connected_gov_agency");
  var text = document.getElementById("agency_detail");
  if (checkBox.checked == true)
    text.style.display = "block";
  else
    text.style.display = "none";
}
</script>
{% endblock %}

